# Ignore .DS_Store files (Mac)
.DS_Store
# Ignore virtual environment
venv/
# Ignore videos
videos/
# Ignore llama.cpp
computer/LLM/llama.cpp/
# Ignore everything in depth_anything
computer/depth/depth_anything/*
# But not these files
!computer/depth/depth_anything/run.py
!computer/depth/depth_anything/depth_anything/dpt.py