# Ignore .DS_Store files (Mac)
.DS_Store
# Ignore virtual environment
venv/
# Ignore videos
videos/
# Ignore llama.cpp
computer/LLM/llama.cpp/
computer/depth_and_face_recognition/production_database/
computer/depth_and_face_recognition/yolov8n.pt